# Запрещаем прямой доступ к логам заявок (Apache 2.2 и 2.4)
<IfModule mod_authz_core.c>
    Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
    Order allow,deny
    Deny from all
</IfModule>
